/* LOGIN PAGE CSS */

body{
    background: url(https://plus.unsplash.com/premium_photo-1683121713210-97667d2e83c8?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    padding: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    padding: 1rem;
    background-color: #121212df;
    border-radius: 20px;
    border: 2px solid orange;
    box-shadow: 0px 0px 700px orange;
}
.row input{
    border: 1px solid black;
}

.row textarea{
    border: 1px solid black;
}

.row h3{
    color: #fff;
}

.row label{
    color: #fff;
}

.row button{
    background-color: #fff;
    color: black;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 600;
}